@charset "UTF-8";

body{
    margin: 1em 5em;
}
h1{
    text-align: center;
}
div#informacao{
    text-align: center;
}
div#informacao p{
    text-align: justify;
}
div#informacao img{
    width: 200px;
    text-align: center;
}
div .textos{
    color: #666666;
    font-size: 1.2em;
    text-align: left;
}
div .preco{
    color:  #4EC704;
    font-size: 1.5em;
    text-align: left;
}
div#link{
    text-align: right;
}
a{
    color: #1287F2;
}
